body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  visibility: visible;
  opacity: 1;
  transition: all 400ms;
  z-index: 9999;
}
.progress-bar.progress-bar-on-top {
  height: 100%;
}
.progress-bar.progress-bar-hide {
  opacity: 0;
  visibility: hidden;
  z-index: -10;
}
.progress-bar-percent {
  margin-top: 50px;
  height: 5px;
  background: #29d;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  transition: all 200ms ease;
}




